html,
body {
  box-sizing: border-box;
  height: 100vh;
  padding: 0.5em;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0;
  background-color: #eeeeee;
}

/* Messages.js */
.messages {
  height: 76vh;
  width: 100% !important;
  padding-left: 15px;
  padding-top: 5px;
  overflow-y: scroll;
}

/* MessageForm.js */
.message__form {
  position: fixed !important;
  bottom: 1em;
  left: 0;
  margin-left: 332px !important;
  right: 1em;
  z-index: 200;
}

/* Message.js */
.message__self {
  border-left: 3px solid crimson;
  padding-left: 10px;
}

.message__image {
  padding: 1em;
}

/* Semantic UI CSS override */

.ui.comments {
  max-width: 100% !important;
}
